@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&family=Italiana&display=swap');
html{
	overflow-x:hidden;
}
html.lock{
	overflow-y:hidden;
}
.wrapper{
	display: flex;
	flex-direction:column;
	min-height:100%;
}
.header{
	background: rgba(0, 0, 0, 0.5);
	padding:25px 0;
	flex: 0 0 auto;
	position: fixed;
	z-index:50;
	left:0;
	top:0;
	color:#fff;
	width:100%;
	.container{
		max-width:100%;
		margin:0;
		padding: 0 5%;
	}
}
.header__body {
	display: flex;
	justify-content:space-between;
	align-items:center;
}
.header__main{
	width:250px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.header__burger {
	cursor: pointer;
	transition:all 0.3s ease 0s;
	display: block;
	position: relative;
	width:30px;
	height:27px;
	z-index:5;
	&:after,&:before{
		content:'';
		transition:all 0.3s ease 0s;
		position: absolute;
		width:100%;
		background: #B1B1B1;
		height:4px;
		left:0;
		border-radius:6px;
	}
	&:after{
		top:23px;
	}
	&:before{
		top:0;
	}
	span{
		border-radius:6px;
		top:11.5px;
		position: absolute;
		width:70%;
		background: #B1B1B1;
		height:4px;
	}
}
.header__burger.active{
	span{
		display: none;
	}
	&:after{
		top:(27px/2);
		transform:rotate(45deg);
	}
	&:before{
		top:(27px/2);
		transform:rotate(-45deg);
	}
}
.header__menu {
	transition: all 0.4s ease 0s;
	position: fixed;
	top:0;
	left:-100%;
	background: rgba(#000,0.5);
	width:100%;
	height:100%;
	&.active{
		display: block;
		left:0;
	}
}
.header__list {
	margin: 100px 0 0 5%;

}
.header__link {
	color:#fff;
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 40px;
}
.header__title {
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 63px;
	z-index: 5;
}
.header__navigation {
	width:530px;
	display: flex;
	justify-content:space-between;
	align-items:center;
}
.header__searchblock {
	width:400px;
	position: relative;
	display: flex;
	justify-content:space-between;
	input{
		width:100%;
		height:35px;
		background: rgba(0,0,0,0);
		border-bottom:1px solid #FFFFFF;

		font-family: 'EB Garamond';
		font-style: italic;
		font-weight: 400;
		font-size: 24px;
		line-height: 31px;

		color: rgba(255, 255, 255, 0.6);
	}

}
.header__search-icon {
	position: absolute;
	top:0;
	right:0;
	width:30px;
	aspect-ratio:1/1;
	object-fit:cover;
}
.header__language-block {
	height:47px;
	z-index:1;
	select{
		background: rgba(#fff,0.2);
		width:96px;
		height:47px;
		padding:0 21px;
		border:1px solid #E3995F;
		font-family: 'EB Garamond';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 26px;
		color:#fff;
	}
}
//header media

@media (max-width:900px){
	.header__searchblock{
		display: none
	}
	.header__navigation{
		width:auto;
	}
}
@media (max-width:763px){
	.header__main{
		width:220px;
	}
}
@media (max-width:400px){
	.header__main{
		width:175px;
	}
	.header__title{
		font-size: 34px;
	}
	.header__language-block{
		height:35px;
		select{
			height:35px;
			width:60px;
			padding: 0 0 0 0;
		}
	}
}

.content{
	flex: 1 0 auto;
	//background: #151515;;
}
.main {
	position: relative;
	height:100vh;
}
.main__bg-overflow {
	position: absolute;
	top:0;
	left:0;
	z-index: 0;
	width:100vw;
	height:100vh;
	display: block;
	background: #000;
	opacity:0.3;
}
.main__bg-image {
	position: absolute;
	z-index:-1;
	top:0;
	left:0;
	img{
		transform: scale(-1, 1);
		width:100vw;
		height:100vh;
		object-fit:cover;
	}
}
.container {
	max-width:1230px;
	margin: 0 auto;
	
}
@media (max-width:1230px){
	.container{
		max-width:100%;
		padding: 0 5%;
	}
}
.main__title {
	position: absolute;
	top:20%;
	right:20%;
	width:420px;
	height:440px;
	color:#fff;
	font-family: 'italiana';
	font-size: 200px;
	line-height: 110%;
	span{
		display: block;
		position: absolute;
		z-index: 6;
	}
	span:first-child{
		top:0;
		left:0;
	}
	span:last-child{
		bottom:0;
		right:0;
	}
	color:#E3995F;
}
.main__open-hours {
	position: absolute;
	bottom:40px;
	right:33%;
	li:first-child{
		color:#fff;
		margin:0;
	}
	li{
		margin:18px 0 0 0;
		font-family: 'EB Garamond';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 31px;
		color:#6C6C6C;
	}
}
//main media
@media (max-width:816px){
	.main__title{
		margin: 0 auto;
		left:0;
		right:0;
		text-align: center;
	}
	.main__open-hours{
		right:auto;
		left:5%;

	}
}
@media (max-width:447px){
	.main__title{
		font-size: 150px;
		height:300px;
		width:300px;
	}
}
@media (max-width:338px){
	.main__title{
		font-size: 140px;
		height:280px;
		width:270px;
	}
}
@media (max-width:312px){
	.main__open-hours{
		li{
			font-size: 20px;
		}
	}
}
//welcome
.welcome {
	background: #151515;
	padding:120px 0 60px 0;
}
.container {}
.welcome__row {
	display: flex;
	justify-content:space-between;
}
.welcome__textblock {
	flex:0 0 50%

}
.welcome__title {
	max-width:245px;
	text-align: center;
	margin:30px auto 0;
}
.title {
	position: relative;
	font-family: 'Italiana';
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 75px;
	color: #E3995F;
	border-bottom:2px solid #E3995F;
	&:after,&:before{
		content:'';
		position: absolute;
		bottom:-4px;
		display: block;
		background: #E3995F;
		width:6px;
		height:6px;
		transform:rotate(45deg);
	}
	&:after{
		right:0;
	}
	&:before{
		left:0;
	}
}
.welcome__text {
	margin:60px 0 0 0;
}
.text {
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #FFFFFF;
}
.welcome__btn {
	margin: 40px 0 0 0;
}
.btn {
	cursor: pointer;
	position: relative;
	display: block;
	height:81px;
	width:247px;
	border:1px solid #E3995F;
	text-transform: uppercase;
	font-family: 'Italiana';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 81px;
	padding:0 60px;
	background: rgba(#fff,0.1);
	color: #FFFFFF;
	&:after{
		transition: all 0.3s ease 0s;
		content:'';
		display: block;
		position: absolute;
		bottom:-18px;
		left:0;
		width:100%;
		height:1px;
		background: #E3995F;
		width:0;
	}
	&:hover{
		&:after{
			width:100%;
		}
	}
}
.welcome__imageblock {
	flex:0 0 40%;
	position:relative;
	img{
		object-fit:cover;
	}
	img:first-child{
		width:460px;
		height:400px;
	}
	img:last-child{
		width:420px;
		height:360px;
		position: absolute;
		bottom:200px;
		right:-50px;
	}
}
//welcome media
@media (max-width:1672px){
	.welcome__row{
		position: relative;
	}
	.welcome__imageblock{
		position: absolute;
		top:0;
		left:0;
		right:0;
		margin: 0 auto;
		z-index:0;
		opacity:0.3;
		filter:blur(2px);
		img:last-child{
			right:0;
		}
	}
	.welcome__textblock{
		z-index:1;
		margin:0 auto;
	}
	.welcome__title{
		margin: 0 auto;
	}
	.welcome__btn{
		margin:40px auto 0;
	}
	.welcome__imageblock {
		//height:100%;
		img:last-child{
			width:420px;
			height:360px;
			position: absolute;
			bottom:0px;
		}
	}
}
@media (max-width:1238px){
	.welcome__textblock{
		flex: 0 0 80%;
	}
}
@media (max-width:960px){
	.welcome__textblock{
		flex: 0 0 100%;	
	}
	.welcome__imageblock{
		filter:blur(2px);
		img{
			width:280px;
		}
		img:first-child{
			width:270px;
		}
		img:last-child{
			width:270px;
		}
	}
}
@media (max-width: 601px){
	.welcome__row{
		flex-direction:column-reverse;
	}
	.welcome__imageblock{
		position: static;
		filter:blur(0);
		opacity:1;
		img{
			position: static;
		}
		img:first-child{
			max-width:100%;
			width:100%;
			margin:30px 0 0 0;
		}
		img:last-child{
			margin:30px 0 0 0;
			max-width:100%;
			width:100%;
			position: static;
		}
	}
}
@media (max-width:500px){
	.welcome__imageblock{
		img:first-child{
			width:100%;
			height:280px;
			margin: 30px auto 0;
		}
		img:last-child{
			width:100%;
			height:280px;
			margin: 30px auto 0;
		}
	}
	.welcome__title{
		max-width:100%;
		//font-size: 36px;
	}
	.welcome__textblock{
		flex: 0 0 280px;
		max-width:100%;
	}
}
//exhibition
.exhibition {
	padding:90px 0;
	background: #151515;
	position: relative;
}
.exhibition__title {
	text-align: center;
	max-width:413px;
	margin: 0 auto;
}
.exhibition__slider-line {
	margin:70px 0 0 0;
	width:100%;
	overflow:hidden;
}
.exhibition__slider {
	min-height:550px;
	transition:all 0.6s ease 0s;
	display: flex;
	gap:80px;
	//justify-content:space-between;
	width:2600px;
	margin:0 auto;
	align-items:center;
}
.exhibition__item{
	cursor: pointer;
	transition:all 0.3s ease 0s;
	display: block;
	position: relative;
	width:400px;
	overflow:hidden;
	img:first-child {
		object-fit:cover;
		width:100%;
		height:450px;
	}
	img:last-child{
		margin: 14px;
		width:21px;
		height:21px;
		object-fit:none;
	}
}
.exhibition__item.active{
	cursor: default;
	.exhibition__item-textblock {
		bottom:0;
	}
	img:first-child{
		height:550px;
	}
	img:last-child{
		margin: 14px;
		width:21px;
		height:21px;
		object-fit:none;
	}
	.exhibition__link{
		pointer-events:auto;
	}
	width:500px;
}
.exhibition__item-textblock {
	transition:all 0.3s ease 0s;
	position: absolute;
	bottom:-100%;
	left:0;
	background: rgba(0, 0, 0, 0.7);
	overflow:hidden;
	width:100%;
	padding: 10px 0 100px 0;
}
.exhibition__item-title {
	font-family: 'Italiana';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #E3995F;
}
.exhibition__item-text {
	margin:10px 0 0 0;
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: rgba(255, 255, 255, 0.8);
}
.exhibition__link {
	pointer-events:none;
	position: absolute;
	bottom:0;
	right:0;
	display: block;
	width:50px;
	height:50px;
	background: rgba(#D9D9D9,0.6);
	img{
		margin: 14px;
		width:21px;
		height:21px;
		object-fit:none;
	}
	z-index:1;
}
.exhibition__arrow {
	position: absolute;
	bottom:0;
	right:0;
	left:0;
	margin: 0 auto 0;
	display: flex;
	justify-content:space-between;
	width:140px;
	&>div{
		cursor: pointer;
	}
}
.arrow-left {
	height:60px;
	background: rgba(#fff,0.4);
	width:60px;
	padding:15px;
	img{
		pbject-fit:cover;
		width:30px;
		height:30px;
		transform:rotate(180deg);
	}
	
}
.arrow-right {
	height:60px;
	background: rgba(#fff,0.4);
	width:60px;
	padding:15px;
	img{
		pbject-fit:cover;
		width:30px;
		height:30px;
	}
}
@media (max-width:580px){
	.exhibition__slider {
		gap:0;
		width:2900px;
	}
	.exhibition__item.active{
		width:100vw;
	}
	.exhibition__title{
		max-width:100%;
		font-size: 36px;
	}
}


.explore {
	padding:150px 0 150px 0;
	background: #151515;
	position: relative;
}
.explore__title {
	max-width:200px;
	margin: 0 auto;
}
.explore__navigation-line {
	margin:65px 0 0 0;
	width:100%;
	height:1px;
	background: #E3995F;
	display: flex;
	justify-content:space-around;
	.explore__navigation-item:nth-child(1):before{
		content:'Lemur Ao Dai';
	}
	.explore__navigation-item:nth-child(2):before{
		content:'Modern Ao Dai';
	}
	.explore__navigation-item:nth-child(3):before{
		content:'Five-piece shirt';
	}
	.explore__navigation-item:nth-child(4):before{
		content:'Tran Le Xuan Ao Dai';
	}
	.explore__navigation-item:nth-child(5):before{
		content:'Innovative Ao Dai';
	}
}
.explore__navigation-item {
	transition:all 0.3s ease 0s;
	z-index:1;
	margin: -10px 0 0 0;
	width:20px;
	height:20px;
	border-radius:50%;
	border:1px solid #E3995F;
	background: #151515;
	position: relative;
	&:before{
		content:'lorem lorem lorem';
		color:#fff;
		position: absolute;
		top:-35px;
		left:0;
		width:160px;
		font-family: 'EB Garamond';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 31px;
	}
	&.active{
		background: #E3995F;
	}
}
.explore__slider-line{
	width:100%;
	overflow:hidden;
}
.explore__slider {
	display: flex;
	transition:all 1s ease 0s;
}
.explore__item {
	flex: 0 0 100vw;
}
.explore__imageblock {
	display: flex;
	width:100%;
	//flex-wrap:wrap;
	//justify-content:space-between;
	//gap:80px;
	img{
		object-fit:cover;
		width:16.666%;
		aspect-ratio:1/1;
	}
}
.explore__textblock {
	margin: 30px 0 0 0;
	display: flex;
}
.explore__textblock-title {
	color:#fff;
	font-family: 'Italiana';
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 57px;
	span{
		color:#E3995F;
		font-size: 48px;
	}
	flex:0 0 40%;
	border-right:1px solid #575757;
}
.explore__textblock-text {

}
.explore__text {
	margin:0 0 0 50px;
	flex: 0 0 60%;
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color:#fff;
}
.explore__btn {
	margin: 50px auto 0;
	width:322px;
	padding:20px 90px;
	font-family: 'Italiana';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 47px;
	text-transform: none;
}
.explore__arrow {
	position: absolute;
	bottom:0;
	right:0;
	left:0;
	margin: 0 auto 0;
	display: flex;
	justify-content:space-between;
	width:140px;
	&>div{
		cursor: pointer;
	}
}
.arrow-left {
	height:60px;
	background: rgba(#fff,0.4);
	width:60px;
	padding:15px;
	img{
		pbject-fit:cover;
		width:30px;
		height:30px;
		transform:rotate(180deg);
	}
}
.arrow-right {
	height:60px;
	background: rgba(#fff,0.4);
	width:60px;
	padding:15px;
	img{
		pbject-fit:cover;
		width:30px;
		height:30px;
	}
}
@media(max-width:1400px){
	.explore__navigation-item:before{
		display: none;
	}
}
@media (max-width:1001px){
	.explore__textblock-title{
		font-size: 40px;
		line-height: 120%;
		span{
			font-size: 40px;
		}
	}
}
@media (max-width:631px){
	.explore__imageblock{
		flex-wrap:wrap;
		img{
			width:33.333%;
		}
	}
	.explore__btn{
		margin: 50px 0 0 50px;
		width:80%;
		padding:20px;
		text-align: center;
	}
}
@media (max-width:554px){
	.explore__textblock-title{
		font-size: 30px;
		line-height: 120%;
		span{
			font-size: 30px;
		}
	}
	.explore__textblock{
		display: block;
	}
	.explore__textblock-title{
		text-align: center;
		border-right:0px solid #fff;
	}
	.explore__text{
		margin:30px auto 0;
		text-align: center;
		flex: 0 0 100%;
	}
	.explore__btn{
		margin:30px auto 0;
	}
}	
.info {
	padding:100px 0 150px;
	background:#151515;
	position: relative;
}
.container {}
.info__row {
	display: flex;
	justify-content:space-around;
}
.info__textblock {
	z-index:2;
}
.info__title {
	font-family: 'Italiana';
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 75px;
	color: #E3995F;

}
.info__ticketblock {
	margin:74px 0 0 0;
	display: flex;
	align-items:center;
	
}
.info__open-hours {
	span{
		color:#fff;
	}
	padding:10px 45px 10px 0;
	text-align: right;
	border-right:1px solid #575757;
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 40px;
	text-align: right;
	color: #6C6C6C;
}
.info__btn {
	width:205px;
	height:71px;
	margin:0 0 0 45px;
	padding:24px 0;
	text-align: center;
	font-family: 'Italiana';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #E3995F;
}
.info__mapblock {
	margin: 70px 0 0 0;
	display: flex;
	justify-content:space-between;
}
.info__map {
	width:100%;
	height:100%;
}
.info__mapblock-text {
	margin: 0 0 0 30px;
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	height:200px;
	max-width:296px;
	color: #6C6C6C;
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	span{
		color:#fff;
	}
}
.info__text-1 {}
.info__text-2 {}
.info__imageblock {
	img{
		object-fit:cover;
		width:300px;
		height:100%;
	}
}
//info media
@media (max-width:1043px){
	.info__imageblock {
		img{
			min-height:662px;
			opacity: 0.45;
			position: absolute;
			bottom:0px;
			left:0;
			right:0;
			margin: 0 auto;
		}
	}
}
@media (max-width:680px){
	.info__title{
		text-align: center;
	}
	.info__mapblock{
		display: block;
		margin: 0 auto;
	}
	.info__map{
		width:280px;
		margin: 0 auto;
	}
	.info__mapblock-text{
		width:280px;
		margin: 0 auto;
		text-align: center;
	}
	.info__ticketblock{
		display: block;
	}
	.info__open-hours{
		border-right:0px solid #ffffff;
		text-align: center;
		padding:0;
	}
	.info__btn{
		margin:30px auto;
	}
}
.footer{
	flex: 0 0 auto;
	padding:30px 0;
	background: #151515;
	border-top:1px solid #E3995F;
}
.footer__row {
	display: flex;
	justify-content:space-between;
	align-items:center;
}
.header__title {
	color:#fff;
}
.footer__list {
	display: flex;
	//width:100%;
	flex-wrap:wrap;

	justify-content:space-between;
	align-items:center;
	li{
		display:block;
		margin: 0 0 0 20px;
	}
}
.footer__link {
	//text-align: center;
	flex: 1 0 20%;
	color:#fff;
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	white-space: nowrap;
	line-height: 40px;
}
.footer__media {
	display: flex;
	align-items:center;
	li{
		display:block;
		width:26px;
		height:26px;
		margin: 0 0 0 10px;
		img{
			object-fit:cover;
			width:26px;
			height:26px;
		}
	}
}
@media (max-width:909px){
	.footer__row{
		display: block;
	}
	.footer__media{
		max-width:120px;
		margin: 25px auto 0;
		justify-content:space-between;
	}
}
@media (max-width:680px){
	.footer__row{
		flex-wrap:wrap;
	}
	.footer__list{
		flex-wrap:wrap;
		text-align: center;
	}
}
@media (max-width:400px){
	.footer__list{
		display: block;
		li{
			margin:15px 0 0 0;
		}
		li:first-child{
			margin:0;
		}
	}
}
@media (max-width:320px){
	.info__imageblock{
		img{
			width:280px;
		}
	}
}

//booking page
#booking{
	.main{
		//position: absolute;
		top:0;
		left:0;
	}
}
.booking {
	z-index:1;
	min-height:850px;
	height:110vh;
	.container{
		width:100vw;
		max-width:1230px;
		margin: 0 auto;

	}
	position: relative;
	padding: 150px 0 0 0;
	bottom:0;
	left:0;
	right:0;
	margin: 0 auto;
	text-align: center;
	.main__bg-image{
		img{
			min-height:110vh;
		}
	}
}
.booking__overflow {
	z-index:-1;
	position: absolute;
	bottom:0;
	left:0;
	width:100vw;
	height:100%;
	background:#151515;
	opacity:0.5;
}
.booking__row {
	display: flex;
	justify-content:space-between;
}
.booking__textblock {
	text-align: left;
}
.booking__title {
	font-family: 'Italiana';
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 75px;

	color: #E3995F;
}
.booking__text {
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
	color: #FFFFFF;
	span{
		display: block;
		margin:0  0 20px 10px;
		font-family: 'EB Garamond';
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 31px;
		color: #E3995F;
	}
	span.last{
		font-family: 'EB Garamond';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 16px;
		color: rgba(255, 255, 255, 0.8);
	}
}
.booking__form {
	flex:0 0 50%;
	background: rgba(#353535,0.7);
	padding:40px;
	border:1px solid rgba(#fff,0.3);
	form{
		padding:20px 40px;
		border:1px solid #E3995F;
	}
}
.booking__form-title {
	margin: 0 0 40px 0;
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 47px;
	text-align: center;
	color: #FFFFFF;
}
select{
	background: rgba(#999,1);
	margin: 0 0 20px 0;
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	text-align: center;
	color: #FFFFFF;
	width:100%;
}
option{
	width:10%;
	font-size: 16px;
	line-height: 18px;
}
.booking__form-row{
	display: flex;
	justify-content:space-between;
}
.booking__date {
	flex:0 0 46%;
	background: rgba(#999,1);
	margin: 0 0 20px 0;
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
	width:100%;
}
.visitors {
	flex:0 0 46%;
	background: rgba(#999,1);
	margin: 0 0 20px 0;
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
	width:100%;
}
.booking__total {
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	text-align: right;
	color: #FFFFFF;
	&:before{
		content:'Total Price: ';
	}
	&:after{
		content:'đ';
	}
}
.total {}
.booking__info {
	margin:40px 0 0 0;
	input{
		width:100%;
		flex:0 0 46%;
		margin:0 0 20px 0;
		border-bottom:1px solid #151515;
		font-family: 'EB Garamond';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 34px;
		padding:10px;
		color: #aaa;
		font-weight: 500;
		font-style: italic;
		background: rgba(#fff,0);
	}
}
.booking__btn {
	background: #E3995F;
	margin: 10px auto 0;

}
.btn {}
@media(max-width:1200px){
	.booking__form{
		flex:0 0 60%;
	}
}
@media (max-width: 950px){
	.booking{
		min-height:1500px;
		.main__bg-image{
			img{
				min-height:1500px;
			}
		}
	}
	.booking__row{
		display: block;
	}
	.booking{
		//position: relative;
	}
	.booking__textblock{
		text-align: center;
	}
}
@media (max-width:460px){
	.booking__btn{
		width:100%;
	}
	.booking__form-row{
		display: block;
	}
	.booking__form{
		padding:10px;
		form{
			padding:20px 10px;
		}
	}
}
.error {
	padding:100px 0;
	min-height:100vh;
	background: #151515;
}
.error__title {
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 63px;
	z-index: 5;
	color:#E3995F;
}
.error__text {
	margin: 30px 0;
	font-family: 'EB Garamond';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 120%;
	z-index: 5;
	color:#E3995F;
}
.error__btn {
	font-size: 22px;
	text-align: center;
}
.btn {

}